mixin circus_heading(content)
  svg.circus_heading(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 200")
    text.heading_outline_2(x="400" y="100") #{content}
    text.heading_outline(x="400" y="100") #{content}
    text.heading_text(x="400" y="100") #{content}
