mixin meta(data)
  if data.meta
    script(async)
      != `const pageMeta = ${JSON.stringify(data.meta)};`
      != `const pageUrl = ${JSON.stringify(page.url)};`
      | window.page.setMeta(pageUrl, pageMeta);
