include theater_logo
include social
include card

mixin person_card(person)
  +card('person_card')
    img.card_image(alt=person.name, src='/images/people/' + (person.image || 'default.png'))

    h2.card_header= person.nickname || person.name.split(' ')[0]

    if person.social || person.theaters
      .card_footer
        if person.social
          .link_group
            +social_list(person.social)

        if person.theaters
          .link_group
            each theater in person.theaters
              +theater_logo(theater, size='small')

    if person.bio
      .card_content!= utils.markdown(person.bio)
