include theater_logo

mixin show_card(show)
  .card.show_card(data-show-when=show.when)
    h2.show_title: a(href=show.link, target="_blank")=  show.name
    img.show_image(src="/images/shows/" + show.image)
    .show_date
      = new Date(show.when).toLocaleString()
    .show_content
      != show.description
    .show_theater
      +theater_logo(show.theater)
