mixin theater_logo(theater, size='normal')
  .theater_logo(class="theater_logo_" + size, title=theater.name)
    a(target="_blank", href=theater.link)
      img(src=theater.logo, alt=theater.name)
