---
permalink: /join/index.html
sitemap:
  ignore: true
---
extends /layout

block title 
  | Join The Team - Improv Circus

block meta
  meta(name="robots", content="noindex, follow")

block share

block content
  .join_page
    h1 Wanna Play?

    .hero
      div
        | No
        span.break
        | Coach
      div
        | No
        span.break
        | Practice
      div
        | No
        span.break
        | Net
      div
        | All
        span.break
        | Show

    p.
      Improv Circus is a community of experienced improvisers who want
      to put on grade A shows with other experienced improvisers without
      being locked into a theater or practices.

    h2 Is this for you?
    
    p.
      Players are expected to have performed in lots of shows.
      You should know the games and know them well. 
      Planning will happen in chat and maybe video call or two then
      meet an hour before the show for warm ups and a quick run through.

    p.
      If that sounds awesome, keep reading!

    h2 No Obligation

    p.
      Shows are completely voluntary. Everyone on the team has a life, a job,
      and other improv teams. We're all spread out over the Bay Area (and maybe
      beyond in the future...) so play when and where you want. If you want to jump
      in or need to duck out at the last minute, that's cool too.

    h2 It's Your Show

    p.
      Suggest a place and time you want to do a show. Suggest a new show
      we haven't done before.

    h2 Sounds Good, Now What?

    p.
      The team is currently by invite only. If you were invited, we'll get you hooked up.
