extends /layout.pug
include /show_list.pug
include /people_list.pug
include /circus_heading

block content
  .home
    img.logo(src="/images/improv-circus.png", alt=site.title)

    .about-hero.
      Improv Circus is a travelling troupe of hilarious improvisers with decades of experience
      performing across the nation. We do it all: short form games in &ldquo;Who's Line Is It Anyway?&rdquo; tradition,
      competitive short form, long form and musical.

    //+circus_heading('~ Shows ~')
    h1.text-shadow
      a.anchor(id='shows')
      | ~ Shows ~
    +show_list(shows, 5)

    h1.text-shadow
      a.anchor(id='players')
      | ~ Players ~

    +people_list
